<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ETAI, un outil collaboratif pour la gestion des ressources, des tâches et des statistiques d'entreprise.">
    <meta name="keywords" content="Cloud privé, collaboration, gestion des documents, productivité, entreprise, ETAI">
    <meta name="author" content="Treguier Elias">
    <meta name="robots" content="noindex, nofollow">

    <title>Cloud-testing</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/admin.css">
    <link rel="icon" type="image/png" href="assets/favicon.png">

    <meta property="og:title" content="Cloud-testing">
    <meta property="og:description" content="Détails du projet cloud-testing : Cloud privé, collaboration, et gestion efficace des ressources.">
    <meta property="og:image" content="assets/preview.png">
    <meta property="og:type" content="website">
</head>
<body>
    <header>
        <img src="/sources/LogoBleuOmbre-edited.png" height="80px">
        <a id="toggle-theme"><svg width="80" height="80" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.589 21.659c-3.873 1.038-8.517-.545-10.98-3.632a1 1 0 0 1 .751-1.623c3.984-.118 6.662-1.485 8.17-4.098 1.51-2.613 1.354-5.616-.535-9.125a1 1 0 0 1 1.03-1.463c3.904.59 7.597 3.82 8.635 7.694 1.43 5.334-1.737 10.818-7.071 12.247" fill="var(--secondary)"/></svg></a>
    </header>
    <main>
        <div class="inputInfo">
            <form id="search-form">
                <input placeholder="Nom Prénom" name="name" type="text">
                <select name="promo">
                    <option value="" disabled selected hidden>Promo</option>
                </select>
                <span class="place"><input placeholder="Lieu . . ." id="place"><input placeholder="Distance.." id="dist"></span>
                <input placeholder="Age" type="number">
                <select name="Statut">
                    <option value="" disabled selected hidden>Statut</option>
                </select>
                <input placeholder="Tag +" name="Tags" type="text">
                <span class="ai">
                    <textarea name="AI_search" placeholder="J'ai de la chance :3"></textarea>
                    <a id="sendPrompt"><u>Envoyer</u></a>
                </span>
            </form>
        </div>
        <div class="list" id="list">
            <div class="header">
                <span id="name-fname">
                    <p>Etudiant</p>
                    <svg width="24" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="var(--secondary)" stroke-width="1.5" d="m2 15.999 10.173-9.824 9.824 10.173"/></svg>
                </span>
                <span id="localisation">
                    <p>Localisation</p>
                    <svg width="24" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="var(--secondary)" stroke-width="1.5" d="m2 15.999 10.173-9.824 9.824 10.173"/></svg>
                </span>
                <span id="status">
                    <p>Statut</p>
                    <svg width="24" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="var(--secondary)" stroke-width="1.5" d="m2 15.999 10.173-9.824 9.824 10.173"/></svg>
                </span>
                <span id="creation-date">
                    <p>Création</p>
                    <svg width="24" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="var(--secondary)" stroke-width="1.5" d="m2 15.999 10.173-9.824 9.824 10.173"/></svg>
                </span>
            </div>
        </div>
    </main>
<script src="/scripts/Main.js"></script>
<script src="/scripts/admin.js"></script>
</body>
</html>
