<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ETAI, un outil collaboratif pour la gestion des ressources, des tâches et des statistiques d'entreprise.">
    <meta name="keywords" content="Cloud privé, collaboration, gestion des documents, productivité, entreprise, ETAI">
    <meta name="author" content="Treguier Elias">
    <meta name="robots" content="noindex, nofollow">

    <title>Cloud-testing</title>
    <link rel="stylesheet" href="../public/styles/main.css">
    
    <link rel="stylesheet" href="../public/styles/prism.css" />
    <link rel="stylesheet" href="../public/styles/test.css">
    <link rel="icon" type="image/png" href="assets/favicon.png">

    <meta property="og:title" content="Cloud-testing">
    <meta property="og:description" content="Détails du projet cloud-testing : Cloud privé, collaboration, et gestion efficace des ressources.">
    <meta property="og:image" content="assets/preview.png">
    <meta property="og:type" content="website">

</head>
<body>
    <header>
        <img src="../public/sources/LogoBleuOmbre-edited.png" height="80px">
        <h1 id="test_id">TEST ° 1</h1>
        <a id="toggle-theme"><svg width="80" height="80" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.589 21.659c-3.873 1.038-8.517-.545-10.98-3.632a1 1 0 0 1 .751-1.623c3.984-.118 6.662-1.485 8.17-4.098 1.51-2.613 1.354-5.616-.535-9.125a1 1 0 0 1 1.03-1.463c3.904.59 7.597 3.82 8.635 7.694 1.43 5.334-1.737 10.818-7.071 12.247" fill="var(--secondary)"/></svg></a>
    </header>
    <main>
        <h2 id="question">Quel est le nombre de canard dans le monde pouet :</h2>
        <div class="exercise">
            <div class="exemple">
<pre><code class="language-js">function isPrime(number) {
    if (number <= 1) return false;

    for (let i = 2; i <= Math.sqrt(number); i++) {
        if (number % i === 0) {
        return false;
        }
    }

    return true;
}

// Example usage
const num = 17;
console.log(`${num} is prime?`, isPrime(num));
</code></pre>
            </div>
            <div class="response"></div>
        </div>
        <div class="submit">
            <a id="hint">
                <svg width="25" height="25" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <g data-name="Layer 2">
                        <path fill="none" data-name="invisible box" d="M0 0h48v48H0z"/>
                        <g data-name="Layer 7">
                            <path fill="var(--secondary)" d="m27.2 34.8-4.5.4s2.2-7.9 3.8-13.2a4.1 4.1 0 0 0-3.6-5.5 3.6 3.6 0 0 0-2.7 1.2l-4 3.3a.7.7 0 0 0 .6 1.2l4.5-.4L17.5 35a4.1 4.1 0 0 0 3.6 5.5 3.6 3.6 0 0 0 2.7-1.2l4-3.3a.7.7 0 0 0-.6-1.2"/>
                            <circle fill="var(--secondary)" cx="26" cy="11" r="3"/>
                        </g>
                    </g>
                </svg>
            </a>
            <a id="submit">Envoyer et passer au test suivant</a>
        </div>
    </main>
<script src="../public/scripts/prism.js"></script>
<script src="/scripts/Main.js"></script>
<script src="/scripts/profile.js"></script>
</body>
</html>
