main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 2%;
}
a{
    color:var(--secondary)
}
.inputInfo{
    min-width:350px;
    border:2px solid var(--secondary);
    border-radius: 8px;
    padding:15px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
input{
    border:2px solid var(--secondary);
    border-radius: 6px;
    padding:10px;
    background-color: transparent;
    color:var(--secondary);
}
textarea{
    color:var(--secondary);
    height:180px;
    border:2px solid var(--secondary);
    border-radius: 6px;
    padding:10px;
    background-color: transparent;
    resize: none;
}
select{
    color:var(--secondary);
    border:2px solid var(--secondary);
    border-radius: 6px;
    padding:10px;
    background-color: transparent;
}
.place {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.place :nth-child(1) {
    flex: 1 1 0;
    min-width: 0;
    border-radius:6px 0 0 6px;
}

.place :nth-child(2) {
    flex: 0 0 auto;
    width: 80px;
    border-radius:0 6px 6px 0;
    border-left: none;
}
.ai{
    display: flex;
    position: relative;
}
.ai textarea{
    width: 100%;
}
#sendPrompt{
    position: absolute;
    bottom: 0;
    right: 0;
    padding:10px;
}

/* The right panel */
p{padding: 0; margin:0;}
.list{
    border:2px solid var(--secondary);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width:50vw;
}
.header{
    display: flex;
    gap: 10%;
    padding:10px 10px;
    border-bottom: 2px solid var(--secondary);
}
.header span{
    display: flex;
    align-items: center;
    gap:7px;
    width:25%;
}
.user{
    align-items: center;
    padding:5px 10px;
    border-bottom: 2px solid var(--secondary);
    display:flex;
    height:50px;
    gap:10%;
}
.user span{
    width:25%;
}

.rotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.unrotate {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}