:root{
    --primary:#F1F4F4;
    --secondary:#000000;
    --tertiary:#1c1c68;
}
html{
    background-color: var(--primary);
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height:80px;
    position:relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
main img {
    height: 200px;
    margin-bottom: 50px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    display:flex;
    gap:53px;
}
.form div{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.form div div {gap:5px;}
.form input{
    padding-left:10px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid var(--secondary);
    width:315px;
    height:40px;
    background-color: transparent;
}
.form label{
    font-size: 15px;
    padding-left: 8px;
}
.form2{
    display: flex;
    flex-direction: column;
    gap:20px!important;
    padding: 0;
    margin: 0;
}
.form2 p {
    font-size: 15px;
    padding: 0;
    margin: 0;
}
.form2 > li > label{
    display: flex;
    flex-direction: column;
}
.checkbox{
    width: 330px;
    flex-direction: row!important;
    justify-content: center;
    align-items: center;
}
.checkbox input{
    width: 40px;
}
button{
    width: 330px;
    height:50px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid var(--secondary);
    background-color: transparent;
    transition: all 0.2s ease-out;
}
button:hover{
    background-color: var(--tertiary);
    color:var(--primary);
    border: none;
}
button:active{
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
}
.signin{
    gap: 20px !important;
}
.signin input{
    margin: 0;
}
.signin button{
    margin-top: 60px;
    margin-bottom: 0;
}
footer{
    position : absolute;
    bottom: 0;
}
.docin{
    padding: 15px 0px 0px 5px !important;
}